language: node_js
os: linux
node_js:
  - "8"
before_install:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
install:
  - npm install codecov -g
  - npm install coveralls -g
  - npm install -g codeclimate-test-reporter
  - npm install
script:
  - npm test
after_success:
  - codecov
  - coveralls < ./coverage/lcov.info
  - CODECLIMATE_REPO_TOKEN=3aa2a9a2f1d23ab7499741f1ed88dfaab9a9e65b452d7c9fdf71bd93580e7be8 codeclimate-test-reporter < ./coverage/lcov.info